<ion-content>
  <!-- <div class="ion-padding"> -->
    <div class="joystick">
      <div class="joystick__left">
        <div class="joystick__directional">
          <div class="directional-btn-group">
            <div class="directional-btn up"></div>
            <div class="directional-btn down"></div>
          </div>
          <div class="directional-btn-group">
            <div class="directional-btn left"></div>
            <div class="directional-btn right"></div>
          </div>
        </div>
      </div>
      <div class="joystick__middle"></div>
      <div class="joystick__right"></div>
    </div>
  <!-- </div> -->
</ion-content>
